{% extends "layout.html" %}

{% block title %}Create task{% endblock %}

{% block main %}
<article class="grid">
  <hgroup>
    <h1>Create task</h1>
    <h2>What do you have in mind?.</h2>
  </hgroup>
  <form method="post">
    <input type="text" name="title" placeholder="Title" required>
    <input type="text" name="description" placeholder="Description" required>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <button type="submit">Create</button>
  </form>
</article>
{% endblock %}
